html, body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  //overflow: hidden;
}


#index {
  section {
    padding: 15px;
    #stream_info {
      border: 2px solid #333333;
      border-radius: 2px;
      padding: 5px;
      a {
        color: #333333;
        display: block;
        text-decoration: none;
        cursor: pointer;
      }
      label {
        display: block;
      }
      &:hover {
        -webkit-box-shadow: 4px 4px 18px -8px rgba(79,79,79,1);
        -moz-box-shadow: 4px 4px 18px -8px rgba(79,79,79,1);
        box-shadow: 4px 4px 18px -8px rgba(79,79,79,1);
      }
    }
  }
}

#stream_four{
  height: inherit;
  display: block;
  margin: 0;
  padding: 0;
  section {
    iframe {
      width: 100%;
      height: auto;
    }
    display: inline-flex;
    float: left;
    height: 50%;
    width: 50%;
    //background-color: #2aabd2;
  }
  #stream1 {
    background-color: #2aabd2;
  }
  #stream2 {
    background-color: #337ab7;
  }
  #stream3 {
    background-color: #b92c28;
  }
  #stream4 {
    background-color: #eb9316;
  }
}

#stream_six{
  height: inherit;
  display: block;
  margin: 0;
  padding: 0;
  section {
    iframe {
      width: 100%;
      height: auto;
    }
    display: inline-flex;
    float: left;
    height: 50%;
    width: 33.33333333%;
    //background-color: #2aabd2;
  }
  #stream1 {
    background-color: #2aabd2;
  }
  #stream2 {
    background-color: #337ab7;
  }
  #stream3 {
    background-color: #b92c28;
  }
  #stream4 {
    background-color: #eb9316;
  }
  #stream5 {
    background-color: #4cae4c;
  }
  #stream6 {
    background-color: #761c19;
  }
}