{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Four Streams{% endblock title %}

{% block content %}
    <div id="stream_four" class="container-fluid">
        <section id="stream1">
            <iframe id="iframe1" width="560" height="315" src="https://www.youtube.com/embed/{{ stream.video1 }}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </section>
        <section id="stream2">
            <iframe id="iframe2" width="560" height="315" src="https://www.youtube.com/embed/{{ stream.video2 }}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </section>
        <section id="stream3">
            <iframe id="iframe3" width="560" height="315" src="https://www.youtube.com/embed/{{ stream.video3 }}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </section>
        <section id="stream4">
            <iframe id="iframe4" width="560" height="315" src="https://www.youtube.com/embed/{{ stream.video4 }}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </section>
    </div>
{% endblock content %}