{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Welcome{% endblock title %}

{% block content %}
    <div id="index" class="container-fluid">
        <h3>Welcome, please choose a stream view</h3>
    <div class="row">
        <h5>Two Panel video Stream</h5>
        {% for stream in two %}
            <section class="col-xs-3">
                <div id="stream_info">
                    <a href="stream/two/{{ stream.id }}">
                        <label>{{ stream.title }}</label>
                        {% if stream.chat %}
                            Chat Available
                        {% else %}
                            No Chat Available
                        {% endif %}
                    </a>
                </div>
            </section>
         {% endfor %}
    </div>
    <div class="row">
        <h5>Four Panel video Stream</h5>
        {% for stream in four %}
            <section class="col-xs-3">
                <div id="stream_info">
                    <a href="stream/four/{{ stream.id }}">
                        <label>{{ stream.title }}</label>
                        {% if stream.chat %}
                            Chat Available
                        {% else %}
                            No Chat Available
                        {% endif %}
                    </a>
                </div>
            </section>
         {% endfor %}
    </div>
    <div class="row">
        <h5>Six Panel video stream</h5>

        {% for stream in six %}
            <section class="col-xs-3">
                <div id="stream_info">
                    <a href="stream/six/{{ stream.id }}">
                        <label>{{ stream.title }}</label>
                        {% if stream.chat %}
                            Chat Available
                        {% else %}
                            No Chat Available
                        {% endif %}
                    </a>
                </div>
            </section>
        {% endfor %}
    </div>
    </div>
{% endblock content %}